docs/about.html
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Super knjižnica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-costume">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false">
        <span class="sr-only">Meni</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar_collapse">
        <ul class="nav navbar-nav">
          <li><a href="./index.html">Domov</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./about.html" class="active">O nas</a></li>
          <li><a href="./registracija.html">Registracija</a></li>
          <li><a href="./prijava.html">Prijava</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="container">
  <div class="form_container">
    <div class="form_title">
      O Super knjižnici
    </div>
      <div class="row equal">
          <div class="col-xs-12 col-sm-6 col-lg-3">
              <img src="img/about/about_knjiznica.jpg" class="img-responsive center-block" height="400" width="400"/></div>
          <div class="col-xs-12 col-sm-6 col-lg-3">
              <p><b>Super knjižnica je namenjena vsem knjigoljubom, ki si radi izposodijo in prelistajo kakšno zanimivo čtivo.<br>
                  Knjižnica deluje že vrsto let ter se ponaša z bogato zbirko knjig vseh zvrsti. Poleg tega pa hrani tudi revije, CD-je, kasete, ter še kaj bi se našlo.<br>
                  "Kdor bere knjige, živi tisoč življenj" pravijo, in to je tudi smisel ter namen te knjižnice.
              </b></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3">
              <p><b>Knjižnica se nahaja na Večni poti 113 v Ljubljani. Do nas lahko pridete z avtom, avtobusom, kolesom ali peš.</b></p>
              <p><b>Odprto: Vsak dan oh 8:00 do 20:00.</b></p>
              <p><b> Telefon: (01) 123 123</b></p>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-3">
              <img src="img/about/about_map.jpg" class="img-responsive center-block" height="400" width="400"/></div>
      </div>
    </div>
  </div>
</body>

_library/views/about.pug
extends layout
block content
    .container
      .form_container
        .form_title
          | O Super knji&zcaron;nici
        .row.equal
          .col-xs-12.col-sm-6.col-lg-3
            img.img-responsive.center-block(src='images/about_knjiznica.jpg' height='400' width='400')
          .col-xs-12.col-sm-6.col-lg-3
            p
              b
                | Super knji&zcaron;nica je namenjena vsem knjigoljubom, ki si radi izposodijo in prelistajo kak&scaron;no zanimivo &ccaron;tivo.
                br
                |                   Knji&zcaron;nica deluje &zcaron;e vrsto let ter se pona&scaron;a z bogato zbirko knjig vseh zvrsti. Poleg tega pa hrani tudi revije, CD-je, kasete, ter &scaron;e kaj bi se na&scaron;lo.
                br
                |                   &quot;Kdor bere knjige, &zcaron;ivi tiso&ccaron; &zcaron;ivljenj&quot; pravijo, in to je tudi smisel ter namen te knji&zcaron;nice.
          .col-xs-12.col-sm-6.col-lg-3
            p
              b
                | Knji&zcaron;nica se nahaja na Ve&ccaron;ni poti 113 v Ljubljani. Do nas lahko pridete z avtom, avtobusom, kolesom ali pe&scaron;.
            p
              b Odprto: Vsak dan oh 8:00 do 20:00.
            p
              b  Telefon: (01) 123 123
          .col-xs-12.col-sm-6.col-lg-3
            iframe.embed-responsive-item(frameborder='0', src='https://maps.google.com/maps?q=SFakulteta za računalništvo&z=15&output=embed', height='250' width='250')
