docs/prijava.html
<!DOCTYPE html>
<html>
   <head>
   <meta charset="UTF-8">
   <title>Super knjižnica</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="style.css">
   </head>
   <body>
     <nav class="navbar navbar-inverse navbar-costume">
       <div class="container-fluid">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false">
           <span class="sr-only">Meni</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="navbar_collapse">
           <ul class="nav navbar-nav">
             <li><a href="./index.html">Domov</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="./about.html">O nas</a></li>
             <li><a href="./registracija.html">Registracija</a></li>
             <li><a href="./prijava.html" class="active">Prijava</a></li>
           </ul>
         </div><!-- /.navbar-collapse -->
       </div><!-- /.container-fluid -->
     </nav>
      <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form_container">
          <div class="form_title">
            Prijava
          </div>
          <form autocomplete="on">
            <div class="form-group">
              <label for="input_email">Email naslov</label>
              <input type="email" class="form-control" id="input_email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="input_password">Geslo</label>
              <input type="password" class="form-control" id="input_password" placeholder="Geslo" autocomplete="off" required>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success">Prijava</button>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
          <div><a href="./domov_prijavljen.html">Prijavi kot uporabnik</a></div>
          <div><a href="./domov_admin.html">Prijavi kot administrator</a></div>
        </div>
      </div>
    </body>

_library/views/prijava.pug
extends layout
block content
  .container
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.form_container
      .form_title
        | Prijava
      form(autocomplete='on')
        .form-group
          label(for='input_email') Email naslov
          input#input_email.form-control(type='email', placeholder='Email', required='')
        .form-group
          label(for='input_password') Geslo
          input#input_password.form-control(type='password', placeholder='Geslo', autocomplete='off', required='')
        .text-right
          button#btn_login.btn.btn-success(type='button' onclick='handle_login()') Prijava
    script(src='../javascripts/login_handler.js' type='text/javascript')
