docs/registracija.html
<!DOCTYPE html>
<html>
   <head>
   <meta charset="UTF-8">
   <title>Super knjižnica</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="style.css">
   </head>
   <body>
     <nav class="navbar navbar-inverse navbar-costume">
       <div class="container-fluid">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false">
           <span class="sr-only">Meni</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="navbar_collapse">
           <ul class="nav navbar-nav">
             <li><a href="./index.html">Domov</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="./about.html">O nas</a></li>
             <li><a href="./registracija.html" class="active">Registracija</a></li>
             <li><a href="./prijava.html">Prijava</a></li>
           </ul>
         </div><!-- /.navbar-collapse -->
       </div><!-- /.container-fluid -->
     </nav>
      <div class="container">
        <div class="form_container col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <div class="form_title">
            Registracija
          </div>
          <form autocomplete="off">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="input_name">Ime</label>
                <input type="text" class="form-control" id="input_name" placeholder="Ime" required>
              </div>
              <div class="form-group col-md-6">
                <label for="input_lastname">Priimek</label>
                <input type="text" class="form-control" id="input_lastname" placeholder="Priimek" required>
              </div>
            </div>
            <div class="form-group">
              <label for="input_email">Email naslov</label>
              <input type="email" class="form-control" id="input_email" placeholder="Email" required>
            </div>
            <div class="row">
              <div class="form-group form-group col-md-6">
                <label for="input_password">Geslo</label>
                <input type="password" class="form-control" id="input_password" placeholder="Geslo" required>
              </div>
              <div class="form-group form-group col-md-6">
                <label for="input_re-password">Ponovi geslo</label>
                <input type="password" class="form-control" id="input_re-password" placeholder="Ponovi geslo" required>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success">Registracija</button>
            </div>
          </form>
        </div>
      </div>
    </body>

_library/views/registracija.pug
extends layout
block content
    .container
      .form_container.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        .form_title
          | Registracija
        form(onsubmit='handle_registration(event)' autocomplete='off')
          .row
            .form-group.col-md-6
              label(for='input_name') Ime
              input#input_name.form-control(type='text' placeholder='Ime' required='')
            .form-group.col-md-6
              label(for='input_lastname') Priimek
              input#input_lastname.form-control(type='text' placeholder='Priimek' required='')
          .form-group
            label(for='input_email') Email naslov
            input#input_email.form-control(type='email' placeholder='Email' required='')
          .row
            .form-group.form-group.col-md-6
              label(for='input_password') Geslo
              input#input_password.form-control(type='password' placeholder='Geslo' required='')
            .form-group.form-group.col-md-6
              label(for='input_re-password') Ponovi geslo
              input#input_re-password.form-control(type='password' placeholder='Ponovi geslo' required='')
          .text-right
            button.btn.btn-success(type='submit') Registracija
    script(src='../javascripts/login_handler.js' type='text/javascript')
